{% extends 'base.html.twig' %}

{% block title %}Edit Avistamientos{% endblock %}

{% block body %}
    <h1>Edit Avistamientos</h1>

    {{ include('avistamientos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_avistamientos_index') }}">back to list</a>

    {{ include('avistamientos/_delete_form.html.twig') }}
{% endblock %}
