{% extends 'base.html.twig' %}

{% block title %}New Avistamientos{% endblock %}

{% block body %}
    <h1>Create new Avistamientos</h1>

    {{ include('avistamientos/_form.html.twig') }}

    <a href="{{ path('app_avistamientos_index') }}">back to list</a>
{% endblock %}
